[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Energy2D
Name[pt_BR]=Energy2D
Comment=Interactive Heat Transfer Simulations for Everyone
Comment[pt_BR]=Simulações interativas de transferência de calor
Exec=energy2d %u
Icon=energy2d
Categories=Education;

